<template>
  <div class="hello">
    <body style="font-family: sans-serif;">

<div class="cabecera">
<div style="width:100%">
  <div style="display: inline-flex; width:100%;">
    <div style="width:10%;">
    <img
      src="../assets/img/salfa.svg"
      style="width:2.8cm; padding-left: 20px;"
    >
    </div>
    <div style="width:80%; text-align:center;">
    <h1 style="margin-top:.5cm; font-size:2em; color: #005a21;">
      <br>
    </h1>
    <!-- <h3 style="font-weight:700; color:#002e5a">
      CENTRO DE MONITOREO DE CONDICIONES
    </h3> -->
    </div>
    <div style="width:10%; text-align:right;">
    <div style="margin-top:.125cm">
    </div>
    </div>
  </div>
</div>
</div>
<div class="page">


<table style="width: 100%" class="bordes-left bordes-right bordes-top">
  <thead>
    <tr style="background-color:  #d6ebff;;">
      <td ><img id="result" src='../assets/img/lamparojo.svg' style='width: 100px; height: 114px; max-width: 50%'/></td>
      <td colspan="2">
        <table style="width: 100%">
          <tr style="background-color: #f3f3f3; height: 40px;">
            <td class=" bordes-left-sepa" style="width:190px; text-align: left;">PTO MUESTREO | COMPART </td>
            <td style="text-align: left;">_PTO_MUESTREO_</td>
            <td class="t bordes-left-sepa" style="width:190px; text-align: left;">TAG/NÚMERO DE LA UNIDAD:</td>
            <td style="text-align: left;">_TAG_NUMERO_UNIDAD_</td>
          </tr>
          <tr style="background-color: white; height: 40px;">
            <td class="bordes-left-sepa-gray" style="width:190px; text-align: left;">FAMILIA EQUIPO / FABRIC.: </td>
            <td style="text-align: left;">_FAMILIA_EQUIPO_</td>
            <td class=" bordes-left-sepa-gray" style="width:190px; text-align: left;">NÚMERO DE SERIE: </td>
            <td style="text-align: left;">__NUM_SERIE_</td>
          </tr>
          <tr style="background-color: #f3f3f3; height: 40px;">
            <td class=" bordes-left-sepa" style="width:190px; text-align: left;">MODELO DEL EQUIPO:</td>
            <td style="text-align: left;">_MODELO_DEL_EQUIPO_</td>
            <td class=" bordes-left-sepa" style="width:190px; text-align: left;">EXT. EQUIPMENT CODE: </td>
            <td style="text-align: left;">_EXT_EQUIPMEMT_CODE_</td>
          </tr>
        </table>           
      </td>
    </tr>
  </thead>
  <tbody style="background-color:#f1f1f1;">  
    <tr><td colspan="2" class="bg-primario" style="height: 8px;"></td></tr>
    <tr>
      <td style="width:20%; height: 36px;" class="bordes-left bordes-top bordes-bottom ">EVALUACIÓN:</td>
      <td class="bordes-left bordes-top bordes-bottom bordes-right" style="background-color: white;">_EVALUACION_</td>
    </tr>
    <tr>
      <td style="width:20%; height: 40px;" class="bordes-left bordes-bottom ">RECOMENDACIÓN:</td>
      <td class="bordes-left  bordes-bottom bordes-right" style="background-color: white;">_ACCION_INSPECCION_</td>
    </tr>
    <tr>
      <td style="width:20%; height: 50px;" class="bordes-left bordes-bottom ">COMENTARIOS:</td>
      <td class="bordes-left  bordes-bottom bordes-right" style="background-color: white;">_COMENTARIO_MUESTREO_</td>
    </tr>
  </tbody>   
</table>

<br><br>
<table style="width: 100%">
  <thead>
    <tr>
        <td class="cabecera-muestra" colspan="8">Información General</td>
    </tr>
  </thead>
  <tbody>        
    <thead>
        <tr>
          <td  colspan="2" class="cabecera-basico">Básicos</td>
          <td  colspan="2" class="cabecera-fechas">Fechas</td>
          <td  colspan="2" class="cabecera-horas">Horas</td>
          <td  colspan="2" class="cabecera-accion">Acciones realizadas</td>
        </tr>
    </thead>
    <tbody>
      <colgroup>
        <col  width="100px">
        <col  width="90px">
        <col  width="100px">
        <col  width="100px">
        <col  width="100px">
        <col  width="100px">
        <col  width="100px">
        <col  width="100px">
      </colgroup>
      <tr class="sub-cabecera">
        <td class="bordes-left bordes-top"># Muestra</td>
        <td class="bordes-left bordes-top">Estado</td>
        <td class="bordes-left bordes-top">Toma de muestra</td>
        <td class="bordes-left bordes-top">Análisis de la muestra</td>
        <td class="bordes-left bordes-top">Horómetro del equipo</td>
        <td class="bordes-left bordes-top">Horas del fluido</td>
        <td class="bordes-left bordes-top">¿Cambio del fluido?</td>
        <td class="bordes-left bordes-right bordes-top">¿ Relleno ?</td>
      </tr>
    </tbody>        
  </tbody>
  <!-- En este tbody se hace el loop -->
  <tbody id="data-subcabecera">
    <tr>
      <th class="bordes-left bordes-top">2210049904</th>
      <th class="bordes-left bordes-top">_STATUS_NORMAL_ANORMAL</th>
      <th class="bordes-left bordes-top">_FECHA_MUESTREO_</th>
      <th class="bordes-left bordes-top">_FECHA_RESULTADO_</th>
      <th class="bordes-left bordes-top">_HOUR_METER_</th>
      <th class="bordes-left bordes-top">_H_MUESTRA_</th>
      <th class="bordes-left bordes-top">_CAMBIO_SI_NO_</th>
      <th class="bordes-left bordes-right bordes-top">_ADICIÓN_</th>
    </tr>
    <tr>
      <th class="bordes-left bordes-top">2210049904</th>
      <th class="bordes-left bordes-top">_STATUS_NORMAL_ANORMAL</th>
      <th class="bordes-left bordes-top">_FECHA_MUESTREO_</th>
      <th class="bordes-left bordes-top">_FECHA_RESULTADO_</th>
      <th class="bordes-left bordes-top">_HOUR_METER_</th>
      <th class="bordes-left bordes-top">_H_MUESTRA_</th>
      <th class="bordes-left bordes-top">_CAMBIO_SI_NO_</th>
      <th class="bordes-left bordes-right bordes-top">_ADICIÓN_</th>
    </tr>
    <tr>
      <th class="bordes-left bordes-top">2210049904</th>
      <th class="bordes-left bordes-top">_STATUS_NORMAL_ANORMAL</th>
      <th class="bordes-left bordes-top">_FECHA_MUESTREO_</th>
      <th class="bordes-left bordes-top">_FECHA_RESULTADO_</th>
      <th class="bordes-left bordes-top">_HOUR_METER_</th>
      <th class="bordes-left bordes-top">_H_MUESTRA_</th>
      <th class="bordes-left bordes-top">_CAMBIO_SI_NO_</th>
      <th class="bordes-left bordes-right bordes-top">_ADICIÓN_</th>
    </tr>
    <!-- Si es el ultimo registro aplicar "bordes-bottom" -->
    <tr>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">2210049904</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_STATUS_NORMAL_ANORMAL</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_FECHA_MUESTREO_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_FECHA_RESULTADO_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_HOUR_METER_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_H_MUESTRA_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_CAMBIO_SI_NO_</th>
      <th class="bordes-left bordes-right bordes-top bordes-bottom ">_ADICIÓN_</th>
    </tr>
  </tbody>
</table>

<br><br>
<table style="width: 100%">
  <tbody>        
    <thead>
        <tr>
          <td  colspan="14" class="cabecera-basico">Elementos de desgaste (PPM)</td>
          <td  colspan="5" class="cabecera-fechas">Contaminantes (PPM)</td>
          <td  colspan="1" class="cabecera-horas">Agua</td>
        </tr>
    </thead>
    <tbody>
      <colgroup>
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
      </colgroup>
      <tr class="sub-cabecera">
        <td class="bordes-left bordes-top"># Muestra</td>
        <td class="bordes-left bordes-top">Fe</td>
        <td class="bordes-left bordes-top">Cu</td>
        <td class="bordes-left bordes-top">Cr</td>
        <td class="bordes-left bordes-top">Pb</td>
        <td class="bordes-left bordes-top">Sn</td>
        <td class="bordes-left bordes-top">Ni</td>
        <td class="bordes-left bordes-top">Mo</td>
        <td class="bordes-left bordes-top">Ti</td>
        <td class="bordes-left bordes-top">V</td>
        <td class="bordes-left bordes-top">Mn</td>
        <td class="bordes-left bordes-top">Cd</td>
        <td class="bordes-left bordes-top">Ag</td>
        <td class="bordes-left bordes-top">PQl</td>
        <td class="bordes-left bordes-top">Si</td>
        <td class="bordes-left bordes-top">Al</td>
        <td class="bordes-left bordes-top">Na</td>
        <td class="bordes-left bordes-top">K</td>
        <td class="bordes-left bordes-top">Dil. Fuel. CG(%)</td>
        <td class="bordes-left bordes-right bordes-top">Agua(%)</td>
      </tr>
    </tbody>        
  </tbody>
  <!-- En este tbody se hace el loop -->
  <tbody>
    <tr>
      <th class="bordes-left bordes-top">2210049904</th>
      <th class="bordes-left bordes-top">_Fe_</th>
      <th class="bordes-left bordes-top">_Cu_</th>
      <th class="bordes-left bordes-top">_Cr_</th>
      <th class="bordes-left bordes-top">_Pb_</th>
      <th class="bordes-left bordes-top">_Sn_</th>
      <th class="bordes-left bordes-top">_Ni_</th>
      <th class="bordes-left bordes-top">_Mo_</th>
      <th class="bordes-left bordes-top">_Ti_</th>
      <th class="bordes-left bordes-top">_V_</th>
      <th class="bordes-left bordes-top">_Mn_</th>
      <th class="bordes-left bordes-top">_Cd_</th>
      <th class="bordes-left bordes-top">_Ag_</th>
      <th class="bordes-left bordes-top">_PQl_</th>
      <th class="bordes-left bordes-top">_Si_</th>
      <th class="bordes-left bordes-top">_Al_</th>
      <th class="bordes-left bordes-top">_Na_</th>
      <th class="bordes-left bordes-top">_K_</th>
      <th class="bordes-left bordes-top">_Dil_</th>
      <th class="bordes-left bordes-right bordes-top bordes-bottom">_AGUA_</th>
    </tr>
    <tr>
      <th class="bordes-left bordes-top">2210049904</th>
      <th class="bordes-left bordes-top">_Fe_</th>
      <th class="bordes-left bordes-top">_Cu_</th>
      <th class="bordes-left bordes-top">_Cr_</th>
      <th class="bordes-left bordes-top">_Pb_</th>
      <th class="bordes-left bordes-top">_Sn_</th>
      <th class="bordes-left bordes-top">_Ni_</th>
      <th class="bordes-left bordes-top">_Mo_</th>
      <th class="bordes-left bordes-top">_Ti_</th>
      <th class="bordes-left bordes-top">_V_</th>
      <th class="bordes-left bordes-top">_Mn_</th>
      <th class="bordes-left bordes-top">_Cd_</th>
      <th class="bordes-left bordes-top">_Ag_</th>
      <th class="bordes-left bordes-top">_PQl_</th>
      <th class="bordes-left bordes-top">_Si_</th>
      <th class="bordes-left bordes-top">_Al_</th>
      <th class="bordes-left bordes-top">_Na_</th>
      <th class="bordes-left bordes-top">_K_</th>
      <th class="bordes-left bordes-top">_Dil_</th>
      <th class="bordes-left bordes-right bordes-bottom">_AGUA_</th>
    </tr>
    <tr>
      <th class="bordes-left bordes-top">2210049904</th>
      <th class="bordes-left bordes-top">_Fe_</th>
      <th class="bordes-left bordes-top">_Cu_</th>
      <th class="bordes-left bordes-top">_Cr_</th>
      <th class="bordes-left bordes-top">_Pb_</th>
      <th class="bordes-left bordes-top">_Sn_</th>
      <th class="bordes-left bordes-top">_Ni_</th>
      <th class="bordes-left bordes-top">_Mo_</th>
      <th class="bordes-left bordes-top">_Ti_</th>
      <th class="bordes-left bordes-top">_V_</th>
      <th class="bordes-left bordes-top">_Mn_</th>
      <th class="bordes-left bordes-top">_Cd_</th>
      <th class="bordes-left bordes-top">_Ag_</th>
      <th class="bordes-left bordes-top">_PQl_</th>
      <th class="bordes-left bordes-top">_Si_</th>
      <th class="bordes-left bordes-top">_Al_</th>
      <th class="bordes-left bordes-top">_Na_</th>
      <th class="bordes-left bordes-top">_K_</th>
      <th class="bordes-left bordes-top">_Dil_</th>
      <th class="bordes-left bordes-right bordes-bottom">_AGUA_</th>
    </tr>
    <!-- Si es el ultimo registro aplicar "bordes-bottom" -->
    <tr>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">2210049904</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_Fe_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_Cu_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_Cr_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_Pb_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_Sn_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_Ni_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_Mo_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_Ti_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_V_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_Mn_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_Cd_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_Ag_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_PQl_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_Si_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_Al_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_Na_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_K_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_Dil_</th>
      <th class="bordes-left bordes-right bordes-top bordes-bottom">_AGUA_</th>
    </tr>
  </tbody>
</table>
<br><br>
<table style="width: 100%">        
    <thead>
        <tr>
          <td  colspan="3" class="cabecera-basico">Fluído</td>
          <td  colspan="6" class="cabecera-fechas">Condiciones del aceite</td>
          <td  colspan="6" class="cabecera-horas">Aditivos (PPM)</td>
        </tr>
    </thead>
    <tbody>
      <colgroup>
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
        <col  width="70px">
      </colgroup>
      <tr class="sub-cabecera">
        <td class="bordes-left bordes-top"># Muestra</td>
        <td class="bordes-left bordes-top">Fluido</td>
        <td class="bordes-left bordes-top">Volumen/<br>Capacidad</td>
        <td class="bordes-left bordes-top">BN Numero Basico(mg KOH/g)</td>
        <td class="bordes-left bordes-top">Viscosidad @100°C(cSt)</td>
        <td class="bordes-left bordes-top">Hollín-FTIR(%)</td>
        <td class="bordes-left bordes-top">Sulfatación-FTIR(abs/cm)</td>
        <td class="bordes-left bordes-top">Nitración-FTIR(abs/cm)</td>
        <td class="bordes-left bordes-top">Oxidación-FTIR(abs/cm)</td>
        <td class="bordes-left bordes-top">P</td>
        <td class="bordes-left bordes-top">Zn</td>
        <td class="bordes-left bordes-top">Ca</td>
        <td class="bordes-left bordes-top">Mg</td>
        <td class="bordes-left bordes-top">B</td>
        <td class="bordes-left bordes-right bordes-top">Ba</td>
      </tr>
    </tbody>
  <!-- En este tbody se hace el loop -->
  <tbody>
    <tr>
      <th class="bordes-left bordes-top">2210049904</th>
      <th class="bordes-left bordes-top">_FLUIDO_</th>
      <th class="bordes-left bordes-top">_VOL_CAP_</th>
      <th class="bordes-left bordes-top">_BN_NUM_</th>
      <th class="bordes-left bordes-top">_VISCOSIDAD_</th>
      <th class="bordes-left bordes-top">_HOLLIN_</th>
      <th class="bordes-left bordes-top">_SULFATACION_</th>
      <th class="bordes-left bordes-top">_NITRACION_	</th>
      <th class="bordes-left bordes-top">_OXIDACION_</th>
      <th class="bordes-left bordes-top">_P_</th>
      <th class="bordes-left bordes-top">_Zn_</th>
      <th class="bordes-left bordes-top">_Ca_</th>
      <th class="bordes-left bordes-top">_Mg_	</th>
      <th class="bordes-left bordes-top">_B_</th>
      <th class="bordes-left bordes-right bordes-top">_Ba_</th>
    </tr>
    <tr>
      <th class="bordes-left bordes-top">2210049904</th>
      <th class="bordes-left bordes-top">_FLUIDO_</th>
      <th class="bordes-left bordes-top">_VOL_CAP_</th>
      <th class="bordes-left bordes-top">_BN_NUM_</th>
      <th class="bordes-left bordes-top">_VISCOSIDAD_</th>
      <th class="bordes-left bordes-top">_HOLLIN_</th>
      <th class="bordes-left bordes-top">_SULFATACION_</th>
      <th class="bordes-left bordes-top">_NITRACION_	</th>
      <th class="bordes-left bordes-top">_OXIDACION_</th>
      <th class="bordes-left bordes-top">_P_</th>
      <th class="bordes-left bordes-top">_Zn_</th>
      <th class="bordes-left bordes-top">_Ca_</th>
      <th class="bordes-left bordes-top">_Mg_	</th>
      <th class="bordes-left bordes-top">_B_</th>
      <th class="bordes-left bordes-right bordes-top">_Ba_</th>
    </tr>
    <tr>
      <th class="bordes-left bordes-top">2210049904</th>
      <th class="bordes-left bordes-top">_FLUIDO_</th>
      <th class="bordes-left bordes-top">_VOL_CAP_</th>
      <th class="bordes-left bordes-top">_BN_NUM_</th>
      <th class="bordes-left bordes-top">_VISCOSIDAD_</th>
      <th class="bordes-left bordes-top">_HOLLIN_</th>
      <th class="bordes-left bordes-top">_SULFATACION_</th>
      <th class="bordes-left bordes-top">_NITRACION_	</th>
      <th class="bordes-left bordes-top">_OXIDACION_</th>
      <th class="bordes-left bordes-top">_P_</th>
      <th class="bordes-left bordes-top">_Zn_</th>
      <th class="bordes-left bordes-top">_Ca_</th>
      <th class="bordes-left bordes-top">_Mg_	</th>
      <th class="bordes-left bordes-top">_B_</th>
      <th class="bordes-left bordes-right bordes-top">_Ba_</th>
    </tr>
    <!-- Si es el ultimo registro aplicar "bordes-bottom" -->
    <tr>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">2210049904</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_FLUIDO_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_VOL_CAP_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_BN_NUM_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_VISCOSIDAD_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_HOLLIN_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_SULFATACION_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_NITRACION_	</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_OXIDACION_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_P_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_Zn_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_Ca_</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_Mg_	</th>
      <th class="bordes-left bordes-top bordes-top bordes-bottom">_B_</th>
      <th class="bordes-left bordes-right bordes-top bordes-bottom">_Ba_</th>
    </tr>
  </tbody>
</table>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<!--
<table class="datos">
<tr>
  <td id="res-image"><img id="result" src='./assets/img/lamparojo.svg' style='width: 100px; height: 120px; max-width: 50%'/></td>
  <td id="col1">
    <p class="par1" style="background-color: white;">PTO MUESTREO | COMPART: _PTO_MUESTREO_</p>
    <p class="par2">FAMILIA EQUIPO / FABRIC.: _FAMILIA_EQUIPO_</p>
    <p class="par1" style="background-color: white;">MODELO DEL EQUIPO: _MODELO_DEL_EQUIPO_</p>
  </td>
  <td id="col2">
    <p class="par1" style="background-color: white;">TAG/NÚMERO DE LA UNIDAD: _TAG_NUMERO_UNIDAD_</p>
    <p class="par2">NÚMERO DE SERIE: _NUM_SERIE_</p>
    <p class="par1" style="background-color: white;">EXT. EQUIPMENT CODE: _EXT_EQUIPMEMT_CODE</p>
  </td>
</tr>
</table>
<table class="texto">
<tr class="comments">
  <td id="title">EVALUACIÓN:</td>
  <th>_EVALUACION_</th>
</tr>
<tr class="comments2">
  <td id="title2">ACCIÓN DE INSPECCIÓN:</td>
  <th>_ACCION_INSPECCION_</th>
</tr>
<tr class="comments">
<td id="title">COMENTARIO DEL MUESTREO:</td>
<th>_COMENTARIO_MUESTREO_</th>
</tr>
</table>

  <table class="tabla1">
      <colgroup col="5" width="100"></colgroup>
      <tr class="main-tr">
        <td class="datosmuestra" colspan="8">Datos de la muestra</td>
        <td class="desgaste" colspan="13">Elementos de Desgaste (PPM)</td>
        <td class="contaminantes" colspan="5">Contaminantes (PPM)</td>
        <td class="agua" colspan="1">Agua</td>
      </tr>
      <tr>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Muestra</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Status</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Muestreo</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Resultado</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Hour meter</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">h muestra</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">¿Cambio?</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Adición</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Fe</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Cu</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Cr</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Pb</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Sn</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Ni</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Mo</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Ti</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">V</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Mn</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Cd</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Ag</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">PQl</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Si</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Al</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Na</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">K</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Dil. Fuel. CG(%)</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Agua(%)</td>
      </tr>
      <tr>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0; background-color:red">2210049904</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_STATUS_NORMAL_ANORMAL</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_FECHA_MUESTREO_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_FECHA_RESULTADO_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_HOUR_METER_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_H_MUESTRA_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_CAMBIO_SI_NO_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_ADICIÓN_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Fe_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Cu_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Cr_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Pb_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Sn_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Ni_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Mo_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Ti_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_V_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Mn_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Cd_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Ag_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_PQl_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_CONT_Si_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_CONT_Al_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_CONT_Na_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_CONT_K_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_DIL_FUEL_CG_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_AGUA_</th>
      </tr>
      <tr>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">2210026228</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_STATUS_NORMAL_ANORMAL</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_FECHA_MUESTREO_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_FECHA_RESULTADO_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_HOUR_METER_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_H_MUESTRA_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_CAMBIO_SI_NO_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_ADICIÓN_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Fe_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Cu_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Cr_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Pb_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Sn_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Ni_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Mo_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Ti_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_V_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Mn_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Cd_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Ag_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_PQl_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_CONT_Si_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_CONT_Al_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_CONT_Na_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_CONT_K_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_DIL_FUEL_CG_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_AGUA_</th>
      </tr>
      <tr>
          <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">2110046300</th>
          <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_STATUS_NORMAL_ANORMAL</th>
          <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_FECHA_MUESTREO_</th>
          <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_FECHA_RESULTADO_</th>
          <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_HOUR_METER_</th>
          <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_H_MUESTRA_</th>
          <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_CAMBIO_SI_NO_</th>
          <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_ADICIÓN_</th>
          <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Fe_</th>
          <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Cu_</th>
          <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Cr_</th>
          <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Pb_</th>
          <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Sn_</th>
          <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Ni_</th>
          <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Mo_</th>
          <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Ti_</th>
          <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_V_</th>
          <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Mn_</th>
          <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Cd_</th>
          <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Ag_</th>
          <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_PQl_</th>
          <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_CONT_Si_</th>
          <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_CONT_Al_</th>
          <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_CONT_Na_</th>
          <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_CONT_K_</th>
          <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_DIL_FUEL_CG_</th>
          <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_AGUA_</th>
      </tr>
    </table>

    <br>

    <table class="tabla2">
      <colgroup col="4" width="100"></colgroup>
      <colgroup col="4" width="100"></colgroup>
      <tr>
        <td class="fluido" colspan="3">Fluido</td>
        <td class="aceite" colspan="6">Condiciones del aceite</td>
        <td class="aditivos" colspan="6">Aditivos (PPM)</td>
      </tr>
      <tr>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Muestra</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Fluido</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Volumen/Capacidad</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">BN Numero Basico(mg KOH/g)</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Viscosidad @100°C(cSt)</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Hollín-FTIR(%)</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Sulfatación-FTIR(abs/cm)</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Nitración-FTIR(abs/cm)</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Oxidación-FTIR(abs/cm)</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">P</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Zn</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Ca</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Mg</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">B</td>
        <td style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">Ba</td>
      </tr>
      <tr>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">2210049904</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_FLUIDO_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_VOL_CAP_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_BN_NUMERO_BASICO_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_VISCOSIDAD_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_HOLLIN_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_SULFATACION_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_NITRACION_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_OXIDACION_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_P_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Zn_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Ca_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Mg_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_B_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Ba_</th>
      </tr>
      <tr>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">2210026228</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_FLUIDO_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_VOL_CAP_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_BN_NUMERO_BASICO_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_VISCOSIDAD_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_HOLLIN_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_SULFATACION_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_NITRACION_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_OXIDACION_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_P_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Zn_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Ca_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Mg_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_B_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Ba_</th>
      </tr>
      <tr>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">2110046300</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_FLUIDO_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_VOL_CAP_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_BN_NUMERO_BASICO_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_VISCOSIDAD_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_HOLLIN_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_SULFATACION_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_NITRACION_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_OXIDACION_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_P_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Zn_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Ca_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Mg_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_B_</th>
        <th style="border: 2px solid black; border-collapse:collapse;border-spacing:0;">_PPM_Ba_</th>
      </tr>
    </table>
</div>
-->
</body>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
